<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

    <title>Вход на портал</title>
  </head>
    <div class="container" id="login-container">
        <p class="title-form" id="title-login-form">Вход</p>

        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="list-unstyled">
                            {% for message in messages %}
                                <li class="alert alert-danger">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="form-group">
                    <form method="POST" action="/login">
                        <div class="form-field">
                            <label for="username">Логин:</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="form-field">
                            <label for="password">Пароль:</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <button type="submit" class="btn" id="login-btn">Войти</button>
                    </form>
                </div>
        </div>